<%= form_for(@jobs) do |r| %>
  <div class="field">
    <%= r.label :title %><br>
    <%= r.text_field :title %>
  </div>
  <%= r.fields_for :category_attributes do |cat|%>
    <div class="field">
      <b><%= cat.label :name %> of Category</b><br>
      <%= cat.text_field :name %>
    </div>
  <%end%>
  <div class="field">
    <%= r.label :description %><br>
    <%= r.text_area :description %>
  </div>
  <p> Area They service </p>
  <%= r.fields_for :service_areas_attributes do |ing| %>
    <div class="field">
      <%= ing.label :Area %> <%= ing.text_field :name1 %><br>
      <%= ing.label :Area %> <%= ing.text_field :name2 %><br>
      <%= ing.label :Area %> <%= ing.text_field :name3 %><br>
    </div>
  <% end %>
  <div class="actions">
    <%=r.submit %>
  </div>
<% end %>
