<div id="job">
<h2><%= @job.title %></h2>
  <p> <strong>Type of work they do:</strong> <%= @job.category.name %></p>
  <p> <strong>Things about them:</strong> <%= @job.description %></p>
  <p> <strong>Areas they service</strong> </p>
  <% @job.service_areas.each do |s| %>
    <%= s.name %><br>
  <% end %>
  <% if @job.comments != nil %>
    <h4> Comments: </h4>
      <% @job.comments.each do |c|%>
        <p>Comment: <%= c.comments %></p>
        <p>Rating: <%= c.rating %></p>
      <% end %>
    <% end %>
  <% if user_signed_in? %>
    <%= link_to "Create a new comment", new_job_comment_path(@job) %>
  <div class="useractions">
    <p>As the maker of this you have these Options</p>
    <% if @job.user_id == current_user.id %>
      <%= link_to 'Delete this Job', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Edit", edit_job_path %>
    <%end%>
    <% end %>
  </div>
  <h5>submited by: <%= @job.user.email %></h5>
</div>
