<!DOCTYPE html>
<html>
  <head>
    <title>ReviewSiteRailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <div id="navigation">
        <%= link_to "Home", jobs_path %>
        <%= link_to "Categories", categories_path %>
        <% if user_signed_in? %>
        <%= link_to "Create a new Job", new_job_path %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "sign in", new_user_session_path %>
        <%end%>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
